# ignoring general stuff
**/.vscode
**/.idea
**/.DS_Store
**/__pycache__
**/waveletNoiseTile.bin

# ignoring blender stuff
**/FireSimulation/cache*
**/RenderImages/**/*.png
**/RenderImages/**/*.mov
**/Test_Json
**/*.blend1
**/*.uni
**/*.vdb

# ignoring client stuff
ThreeClient/static/assets/simulations/*.png
**/node_modules
**/package-lock.json
dist
docs/html/search
